@value colors: "css/colors.css";
@value primary-color, secondary-color, text-color, altText-color from colors;

.btn {
  color: primary-color;
  border: none;
  border-radius: 0;
  background: transparent;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
  padding: 0;
  outline: none;
  cursor: pointer;
  display: inline-block;

  &:hover {
    color: secondary-color;
  }
}

.btnIcon {
  background-color: primary-color;
  color: #fff;
  height: 68px;
  width: 68px;
  line-height: 1em;
  vertical-align: middle;
  border-radius: 4px;

  &:hover {
    background-color: secondary-color;
    color: #fff;
  }

  &.btnAlt {
    background-color: #fff;
    color: primary-color;

    &:hover {
      background-color: secondary-color;
      color: #fff;
    }    
  }
}
