@value colors: "css/colors.css";
@value primary-color, text-color from colors;

.box {
  background: #fff;
  color: text-color;
  border-radius: 4px;
  margin-bottom: 30px;
}

.title {
  padding-bottom: 0.36em;
  margin-bottom: 0.56em;
  position: relative;
  color: text-color;
  font-size: 2.25em;
  font-weight: 700;
  text-transform: uppercase;

  &:after {
    content: "";
    display: block;
    width: 128px;
    height: 2px;
    background-color: primary-color;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
  }
}
