@value colors: "css/colors.css";
@value primary-color, secondary-color, text-color from colors;

.sidebar {
  background-color: primary-color;
  border-radius: 2px;
  font-size: 1.13em;
  text-align: center;
  padding-bottom: 0.8em;
  margin-bottom: 30px;

  h3 {
    font-size: 1.33em;
    padding: 0.75em;
    font-weight: 700;
    text-transform: uppercase;
  }
  li {
  }
  a {
    display: block;
    text-transform: uppercase;
    padding: 1.11em 1em;
    color: #fff;
    text-decoration: none;

    &:hover {
      background-color: secondary-color;
      color: #fff;
    }
  }
}

.alternante {
  background-color: #fff;
  color: text-color;

  a {
    color: text-color;
  }
}
