.login {
  composes: box from "css/base.css";
  padding: 1.56em;
}

.loginTitle {
  composes: title from "css/base.css";
  margin-bottom: 1em;
}

.formBtns {
  text-align: right;
  margin-bottom: 20px;
}

.container {
  lost-center: 80%;
}
