.sliderContainer {
  margin-bottom: 30px;
  height: 500px;
}

.slide {
  height: 500px;
  background-color: white;
  border-radius: 4px;
  width: 100%;
  max-width: 1140px;
  overflow: hidden;
  position: relative;

  h3 {
    text-transform: uppercase;
    font-size: 5vw;
    font-weight: 200;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
  img {
    display: block;
    max-width: 1140px;
  }
}

:global {
  .slick-dots {
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
  }
  .slick-dots li {
    display: inline-block;
    margin: 0 2px;
  }
  .slick-dots li button {
    background: #fff;
    border: none;
    border-radius: 50em;
    width: 16px;
    height: 16px;
    text-indent: 16px;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    cursor: pointer;
  }
  .slick-dots .slick-active button {
    background-color: #de6262;
  }
}
